.custom-button {
    min-width: 165px;
    width: auto;
    height: 50px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    background-color: #4665ff;
    color: white;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    border-radius: 5%;
    position:absolute;
    left: 43%;  
    &:hover {
      transform: scale(1.05);
    }
  }